atomicwrites==1.3.0
attrs==19.3.0
Click==7.0
coverage==4.5.4
dataclasses==0.6
Flask==1.1.1
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
py==1.8.0
pycryptodomex==3.9.2
pygtrie==2.3.2
pyparsing==2.4.5
pytest==5.2.2
pytest-cov==2.8.1
-e git+https://github.com/zjkmxy/python-ndn.git@a0f8594d0314dc4238957c1bc908d500e66646e4#egg=python_ndn
PyYAML==5.1.2
six==1.13.0
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
