Click==7.0
dataclasses==0.6
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycryptodomex==3.9.2
pygtrie==2.3.2
-e git+https://github.com/zjkmxy/python-ndn.git@a0f8594d0314dc4238957c1bc908d500e66646e4#egg=python_ndn
PyYAML==5.1.2
Werkzeug==0.16.0
