---
repo_config:
  # the repo's routable prefix
  repo_name: 'testrepo'
  # if true, the repo registers the root prefix. If false, client needs to tell repo
  # which prefix to register/unregister
  register_root: True 


db_config:
  # choose one among sqlite3, leveldb, and mongodb
  db_type: 'sqlite3'
  
  # only the chosen db's config will be read
  sqlite3:
    'path': '~/.ndn/ndn-python-repo/sqlite3.db'   # filepath to sqlite3 database file
  leveldb:
    'dir': '~/.ndn/ndn-python-repo/leveldb/'      # directory to leveldb database files
  mongodb:
    'db': 'repo'
    'collection': 'data'


tcp_bulk_insert:
  addr: '0.0.0.0'
  port: '7376'
  # when register_root is False, whether packets inserted via TCP triggers prefix registration
  register_prefix: True 


logging_config:
  # one of 'CRITICAL', 'ERROR', 'WARNING', 'INFO', 'DEBUG'
  level: 'INFO'
  # absolute path to log file. If not given, logs to stdout
  # file: 'repo.log'